


body {
    background: linear-gradient(42deg, rgba(1,92,186,1) 12%, rgba(23,212,217,1) 65%, rgba(0,212,255,1) 84%);
    height: 100vh;
}

h2 {
  text-decoration: underline rgb(61, 211, 238);
}

.article-card {
    background-color: rgb(22, 9, 9);
    color: rgb(216, 225, 238);
    letter-spacing: 1px;
    padding: 1rem;
    cursor: pointer;
    position: relative;
    margin: 1rem auto;
    border-radius: 5%;
    border: 10px solid rgb(216, 225, 226);
    height: 100%;
  }

  .article-container {
     display: flex;
     justify-content: center;
     padding: 10rem;
  }

  
  .article-card-category {
    font-size: 1rem;
    padding: 1rem;
    text-decoration: underline rgb(61, 211, 238);
  }

  .article-card-number {
    font-size: 1rem;
    padding: 1rem;
    text-decoration: underline rgb(61, 211, 238);
  }

  .article-card-article {
    font-size: 1rem;
    padding: 1rem;
    border: 3px solid rgb(61, 211, 238);
    border-radius: 5%;
  }

  .article-card-article:hover {
    font-size: 1rem;
    padding: 1rem;
    border: 3px solid rgb(61, 211, 238);
    border-radius: 5%;
    color: rgb(61, 211, 238);
  }

  .article-main-title {
    display: flex;
    justify-content: center;
    text-decoration: underline black;
  }

  .article-list {
    height: 100vh;
  }

  .article-list-title h3 {
    text-decoration: underline black;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
  }

  .save-article-btn {
    padding: .5rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    margin-left: 47%;
  }

  .view-saved-handler-btn {
    padding: .5rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    margin-left: 45%;
  }

